/* designing the header links  */

.link {
  color: #333333;
  background: linear-gradient(135deg, #faaa16, #face14);
  padding: 10px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 2em;
  border: none;
  border-radius: 10px;
}

.link:hover {
  color: #faaa16;
  background: #333333;
}

.homebodyheader {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.9em;
}

/* Card Container style starts here */

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  gap: 3em;
}

/* cards starts here*/

.menuCard {
  /* background-color: #f7f7f7; */
  border-radius: 8px;

  padding: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.menuCard:hover {
  box-shadow: 0 6px 8px rgba(146, 102, 102, 0.1);
}

.menuCard img {
  max-width: 100%;
  border-radius: 4px;
}

.menuCard h5 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333333;
  text-align: left;
}

.menuCard span {
  font-size: 1rem;
  color: #ee9972;
  margin-left: 0.5rem;
  float: right;
}

.menuCard P {
  text-align: left;
  margin-top: 3em;
  color: #333333;
}

.menuCard .linkmenu {
  float: left;
  margin-top: 20px;
  text-decoration: none;
  font-weight: bolder;
  color: #000000;
}

.arrow {
  margin-top: 2px;
}

.menuCard .linkmenu:hover {
  color: #ee9972;
  cursor: pointer;
}

.Bodycontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8em;
  padding: 0 1em;
  gap: 78%;
}

/*Mobile responsiveness starts here */

@media (max-width: 890px) {
  .Bodycontainer {
    margin: 3em;
  }

  .homebodyheader {
    font-size: larger;
  }

  .link {
    font-size: 1.3em;
    font-weight: bolder;
    text-transform: uppercase;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile responsve */

@media (max-width: 720px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
