.footercontainer {
  height: 260px;
  background-color: #d9d9d9;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 3em;
}

.footercontainer img {
  height: 190px;
  width: 130px;
}

.section h5 {
  font-size: larger;
  font-weight: bolder;
  color: #333333;
}

.section ul {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

.link {
  text-decoration: none;
  color: #495e57;
  margin-left: 5px;
  padding: 5px;
}

.link:hover {
  color: #faaa16;
  background: #333333;
  border-radius: 5px;
}

/*Footer contacts Styling starts here */

.footercontainer address {
  display: flex;
  flex-direction: column;
}

.footercontainer address a {
  margin-top: 15px;
  font-weight: bolder;
  color: #495e57;
  text-decoration: none;
}

.footercontainer address a:hover {
  color: #faaa16;
  background: #333333;
  border-radius: 5px;
}

.copyright {
  background: #293632;
  color: #faaa16;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  justify-items: center;
  height: 60px;
  padding-top: 20px;
}
