.header {
  background-image: url("/restaurant.jpg");
  background-color: transparent;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header h4 {
  justify-items: center;
  text-align: center;
  font-size: 2em;
  padding-top: 5.8em;
  /* color: black; */
  color: #d6700a;
}

.container form fieldset {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0 auto;
  padding: 20px;
  margin: 20px;
  max-width: 500px;
}

.container form fieldset legend {
  font-size: 2em;
  color: #faaa16;
  font-weight: bolder;
}

.container form fieldset label {
  font-weight: bolder;
}

.container form button {
  color: #faaa16;
}
